<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-local" value="http://localhost:5000/v3/index.json" />
  </packageSources>
  <!--
    PS: Remove this when start the BaGet local nuget server
    Reference: https://loic-sharma.github.io/BaGet/installation/local/
  -->
  <disabledPackageSources>
    <add key="nuget-local" value="true" />
  </disabledPackageSources>
</configuration>
