source https://api.nuget.org/v3/index.json

framework: auto-detect
nuget NETStandard.Library

group Test

  source https://api.nuget.org/v3/index.json

  nuget Microsoft.NET.Test.Sdk
  nuget nunit
  nuget NUnit3TestAdapter
  nuget NUnit.ConsoleRunner
